#loginForm {
  display: flex;
  flex-direction: column;
  min-width: 31%;
  border-radius: 1rem;
  padding: 3rem;
  border: 1px solid var(--darkgrey);
}

#headerText {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

#codeContainer {
  margin-top: 6rem;
}

#codeContainer p {
  text-align: start;
  margin-bottom: 0.5rem;
}

#codeContainer div {
  width: 100%;
  height: 10px;
  height: 3rem;

  display: flex;
  justify-content: space-between;
}

#codeContainer input {
  width: 12%;
  outline: none;
  text-align: center;
  font-size: 2rem;
  border-radius: 0.38rem;
  border: 1px solid var(--darkgrey);
}

#formContainer {
  display: flex;
  justify-content: center;
}

#formHeader {
  align-self: center;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 1.5rem;
}

#email,
#password {
  height: 2.5rem;
  border: 1px solid var(--darkgrey);
  outline: none;
  padding: 1rem;
  border-radius: 0.38rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

#password {
  width: 100%;
}

#passwordContainer {
  position: relative;
}

#showPassword {
  position: absolute;
  right: 1rem;
  top: 40%;
  transform: translateY(-50%);
  border-bottom: 1px solid var(--black);
  cursor: pointer;
}

#ctaLogin {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  outline: none;
  border: none;
  padding: 1.2rem 0;
  text-transform: uppercase;
  border-radius: 0.38rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

#loginOption {
  text-align: center;
}

#loginBtn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

#verifyCode {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 1.2rem 0;
  margin-top: 4rem;
  outline: 0;
  border: 0;
  border-radius: 0.38rem;
  text-transform: uppercase;
  cursor: pointer;
}

#subheadingOne {
  font-size: 1.5rem;
  text-align: center;
}

#subHeadingTwo {
  text-align: center;
  margin: 1rem 0 2rem 0;
}

#horizontalLine {
  height: 1px;
  background-color: var(--darkgrey);
  border: none;
  margin-bottom: 2rem;
}

#errorMsg {
  margin-top: 2rem;
  color: var(--red);
}

@media only screen and (max-width: 517px) {
  #loginForm {
    margin: 0 1.8rem;
    padding: 1.5rem;
    margin-bottom: 1.8rem;
  }

  #loginBtn {
    margin-left: 0.5rem;
  }
}
